<section class="hero-section">
  <hgroup class="hgroup">
    <h1>Polish Ruby User Group</h1>
    <p class="hgroup__text">
      Join the community created by Ruby-lovers for creators, enthusiasts,
      nerds and passionates.
    </p>
  </hgroup>
  <div class="discord-box">
   <div class="discord-members-list">
      <ul>
        <% discord_gateway.first_30_members.each do |member| %>
          <li>
            <%= image_tag member.avatar_url, alt: 'avatar logo' %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="discord-cta">
    <p class="discord-cta__count">
        <span class="discord-cta__dot"></span>
        <%= discord_gateway.online_members_count %> members online
      </p>
      <a class="cta cta-primary" href="https://discord.com/invite/bUV9u3PSPF" target="_blank">Join our discord</a>
    </div>
  </div>
</section>
<section class="partners-section" id="partners">
  <h2>Partners</h2>
  <ul class="logos-list">
    <li>
      <%= link_to "https://www.visuality.pl", class: "logos-list__item", target: "_blank" do %>
        <%= image_tag "logos/visuality-logo.svg" %>
      <% end %>
    </li>
    <li>
      <%= link_to "https://occson.com", class: "logos-list__item", target: "_blank" do %>
        <%= image_tag "logos/occson-logo.svg" %>
      <% end %>
    </li>
    <li>
      <%= link_to "https://netguru.com", class: "logos-list__item", target: "_blank" do %>
        <%= image_tag "logos/netguru-logo.svg" %>
      <% end %>
    </li>
    <li>
      <%= link_to "https://reffine.com", class: "logos-list__item", target: "_blank" do %>
        <%= image_tag "logos/reffine-logo.svg" %>
      <% end %>
    </li>
    <li>
      <%= link_to "https://www.2n.pl", class: "logos-list__item", target: "_blank" do %>
        <%= image_tag "logos/2n-logo.svg" %>
      <% end %>
    </li>
  </ul>
  <a class="cta cta-primary" href="#contact-cta">Become a partner </a>
</section>
<section class="contact-section">
  <h2>Contact</h2>
  <%= form_for contact_request, html: { class: 'contact-form' } do |f| %>
    <div class="form-box">
      <%= f.text_field :name, placeholder: 'Name', class: 'form-box__input', required: true %>
    </div>
    <div class="form-box">
      <%= f.email_field :email, placeholder: 'Your Email', class: 'form-box__input', required: true %>
    </div>
    <%= f.text_area :message, placeholder: 'Your message', class: "form-box__input", rows: 5 %>
    <div class="form-button">
      <%= button_tag :send, class: 'cta cta-primary', id: "contact-cta", form: 'contact-form' %>
    </div>
  <% end %>
</section>
